<div class="container">
  <div class="row">
    <ul class="nav nav-tabs col-sm-10">
      <li role="presentation" ng-class="{active: isActiveCategory('all')}">
        <a ng-click="setCategory('all')" href="">All</a>
      </li>
      <li role="presentation" ng-class="{active: isActiveCategory('newsHour')}">
        <a ng-click="setCategory('newsHour')" href="">PBS NewsHour Weekend</a>
      </li>
      <li role="presentation" ng-class="{active: isActiveCategory('needToKnow')}">
        <a ng-click="setCategory('needToKnow')" href="">Need to Know</a>
      </li>
    </ul>
    <div class="col-sm-2"><span>Showing {{filtered.length}} results</span></div>
  </div>
  <div class="row story-block" ng-repeat="story in filtered = (stories | showFilter:currentCategory | orderBy: '-airDate')">
    <div class="col-sm-2">
      <h3>{{story.airDate | date}}</h3>
      <img class="logo-pics" ng-src="/images/{{story.showName}}.png">
      <a ui-sref="editStory({ id : story._id })" class="bt btn-default" ng-show="isLoggedIn()">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a ng-click="removeStory(story)" class="bt btn-default" ng-show="isLoggedIn()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </div>
    <div class="col-sm-5">
      <h3></h3>
      <h3>{{story.title}}</h3>
      <p>{{story.description}}</p>
    </div>
    <div class="col-sm-5">
      <!-- 500 x 281 -->
      <iframe width="400" height="225" ng-src="{{getVideoUrl(story)}}" frameborder="0" allowfullscreen></iframe>              
    </div>
  </div>
</div>

<!--       <a class="btn btn-primary" data-toggle="modal" href='#{{story.videoUri}}'>Trigger modal</a>
 -->
<!--       <div class="modal fade" id="{{story.videoUri}}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Megan's Video</h4>
            </div>
            <div class="modal-body">
              <iframe width="500" height="281" ng-src="{{getVideoUrl(story)}}" frameborder="0" allowfullscreen></iframe>              
            </div>
          </div>
        </div>
      </div> -->