<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h5>Receive notifications when new stories hit!</h5>
      <form ng-submit="addSubscriber()">
        <input type="text" value="email address" ng-model="subscriberEmail"></input>
        <button>Submit</button>
      </form>
      <!-- <p>Your email was added!</p> -->
    </div>
    <div class="col-sm-7">
      <h5>Tweets by Megan: </h5>
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/megbthompson" data-widget-id="682336108638683137">Tweets by @megbthompson</a>
      
      <script>!function(d,s,id){
      
        var js,
            fjs=d.getElementsByTagName(s)[0],
             p=/^http:/.test(d.location)?'http':'https';

        if(!d.getElementById(id)){
          js=d.createElement(s);
          js.id=id;
          js.src=p+"://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document,"script","twitter-wjs");

      </script>
    
    </div>
  </div>
</div>