<my-jumbotron></my-jumbotron>
<div class="container email-composer">
  <h3 ng-show="sendStatus">An email was sent to your subscribers!</h3>

  <h3>Send an update email to your subscribers</h3>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <label for="email-greeting">Email Greeting: </label>
        <textarea class="form-control" id="email-greeting" ng-model="email.greeting" required></textarea>
      </div>

      <div class="form-group">
        <label for="email-body">Email body: </label>
        <textarea class="form-control" id="email-body" ng-model="email.body" required></textarea>
      </div>

      <div class="form-group">
        <label for="email-goodbye">Email Goodbye: </label>
        <textarea class="form-control" id="email-goodbye" ng-model="email.goodbye" required></textarea>
      </div>

      <form role="form" name="story-selector" ng-submit="setStories()">
        <legend>Select which stories to send: </legend>
        <select name="stories" ng-model="selectedStories" ng-options="story.title for story in allStories" data-ng-attr-size="{{allStories.length}}" multiple></select>
      </form>
      <br>
      <a ui-sref='portfolio'><button type="submit" class="btn btn-danger">Nevermind</button></a>
      
      <div ng-show="selectedStories">
        <h4>You've selected the following stories:</h4>
        <ul>
          <li ng-repeat="story in selectedStories">{{story.title}}</li>
        </ul>
      <a ng-click="sendEmails()"><button class="btn btn-success">Send emails</button></a>
      </div>

   
    </div>
 
    <div class="col-sm-4"><legend>Your subscribers:</legend>
      <ul>
        <li ng-repeat="subscriber in subscribers">{{subscriber.email}}</li>
      </ul>
    </div>
  </div>
</div>
