<div class="container">
  <h3 ng-show="sendStatus">An email was sent to your subscribers!</h3>
  <div class="row">
    <div class="col-sm-8"><legend>Send an email to all subscribers: </legend>
      <form role="form" name="date-range" ng-submit="showStories()">
        <div class="form-group">
          <label for="addDate">Send all stories added since:</label>
          <input type="date" class="form-control" id="addDate" ng-model="query.addDate">
        </div>
        <button type="submit" class="btn btn-success">Find stories</button>
      </form>
  
      <a ui-sref='journalism'><button type="submit" class="btn btn-danger">Disregard changes</button></a>
      
      <div ng-show="stories">
        <h4>You're date selection results in the following stories:</h4>
        <ul>
          <li ng-repeat="story in stories">{{story.title}}</li>
        </ul>
      <a ng-click="sendEmails()"><button class="btn btn-success">Send emails</button></a>
      </div>

   
    </div>
 
    <div class="col-sm-4">
      <ul>
        <li ng-repeat="subscriber in subscribers">{{subscriber.email}}</li>
      </ul>
    </div>
  </div>
</div>
