<div class="container">
  <form role="form" name="adminInfoForm" ng-submit="adminAction(adminCreds)">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" ng-model="adminCreds.email">
    </div>
    <p>{{adminCreds.email}}</p>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" ng-model="adminCreds.password">
    </div>
    <p>{{adminCreds.password}}</p>
    <p>{{adminCreds}}</p>
    <div class="checkbox">
      <label><input type="checkbox" ng-model="adminCreds.rememberMeBoolean"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">{{actionLabel}}</button>
  </form>
</div>